services:
  pwm_push_server:
    container_name: pwm_push_server
    image: debian:bookworm-slim # ubuntu:22.04  # Use the official Ubuntu base image directly
    restart: always
    ports:
      - "10443:10443"
      - "5222:5222"
      - "8801:8801"
    volumes:
      - ./pwm:/app  # Mount the host 'pwm' directory to '/app' in the container
    entrypoint: ["/bin/sh", "/app/docker/entrypoint.sh"]
    networks:
      - pwm_net

  nginx_wss:
    container_name: nginx_wss
    image: nginx:alpine
    restart: always
    ports:
      - "11443:11443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/wss.conf:/etc/nginx/conf.d/wss.conf:ro
      - /root/dotnet/letsencrypt:/etc/letsencrypt:ro
    networks:
      - pwm_net
    depends_on:
      - pwm_push_server

networks:
  pwm_net:
    name: pwm_shared_network
    external: true
